<div class="r-container">
    <a routerLink=""><img class="r-logo" src="/assets/images/logo-show-de-bolao.svg" alt="Logo"></a>
    <ng-container *ngIf="step !== 'success-change-password'; else successChangePassword">
        <div class="r-image-container">
            <img src="/assets/images/recover-password.svg" alt="Jogador de costas">
        </div>
        <div class="r-form-container">
        <div class="r-form" *ngIf="step === 'email'">
            <h3 class="r-form-title">Recuperação de senha</h3>
            <div class="r-form-fields">
                <div class="input-container">
                    <label for="name">Informe seu e-mail cadastrado</label>
                    <div class="input-content">
                        <div class="ic-icon">
                            <img src="/assets/icons/email.svg" alt="Ícone de email">
                        </div>
                        <input type="text" name="name">
                    </div>
                </div>
                <app-button [text]="'Enviar link para o e-mail'" (clickButton)="nextStep()"></app-button>
            </div>
        </div>

        <div class="r-form" *ngIf="step === 'new-password'">
                <h3 class="r-form-title">Crie uma nova senha</h3>
                <div class="r-form-fields">
                    <div class="input-container">
                        <label for="password">Senha</label>
                        <div class="input-content">
                            <div class="ic-icon">
                                <img src="/assets/icons/password.svg" alt="Ícone de senha">
                            </div>
                            <input type="password" name="password" [maxLength]="150">
                        </div>
                    </div>
                    <div class="input-container">
                        <label for="password">Confirmar senha</label>
                        <div class="input-content">
                            <div class="ic-icon">
                                <img src="/assets/icons/password.svg" alt="Ícone de senha">
                            </div>
                            <input type="password" name="confirm-password" [maxLength]="150">
                        </div>
                    </div>
                    <app-button [text]="'Confirmar'" (clickButton)="recoverPassword()"></app-button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #successChangePassword>
        <div class="r-success-change-password">
            <span class="material-symbols-rounded r-success-icon">check</span>
            <p class="r-success-text">Senha alterada com sucesso</p>
        </div>
    </ng-template>
</div>