<header>
    <div class="h-content">
        <a href=""><img class="h-logo" src="/assets/images/logo-show-de-bolao.svg" alt="Logo show de bolão"></a>
        <p class="h-time">Encerramento da 1° rodada: <strong>08:24</strong></p>
    </div>
    <div class="h-actions">
        <div class="h-info">
            <div class="h-item">
                <img src="/assets/icons/header/small-winner.svg" alt="Taça pequena">
                <p class="h-item-text">0</p>
            </div>
            <div class="h-item">
                <img src="/assets/icons/header/small-money.svg" alt="Moeda pequena">
                <p class="h-item-text">0</p>
            </div>
            <div class="h-item">
                <img src="/assets/icons/header/small-ticket.svg" alt="Ticket pequeno">
                <p class="h-item-text">0</p>
            </div>
        </div>
        <a routerLink="login"><app-custom-button [text]="'Participar do bolão'"></app-custom-button></a>
    </div>
</header>