header {
    background: linear-gradient(-90deg, #131A24 80%, #49648A);
    display: flex;
    align-items: center;
    padding: 0 10rem;
    justify-content: space-between;

    .h-logo {
        width: 61px;
    }

    .h-time {
        color: white;
        font-weight: 400;
        font-size: 1rem;

        strong {
            color: #34A853
        }
    }

    .h-content {
        gap: 1.875rem;
        display: flex;
        align-items: center;
    }

    .h-actions {
        display: flex;
        gap: 46px;

        .h-info {
            display: flex;
            gap: 1rem;
            align-items: center;

            .h-item {
                display: flex;
                gap: 4px;
                align-items: center;

                .h-item-text {
                    color: white;
                    font-size: 30px;
                    font-weight: 400;
                }
            }
        }
    }
}

:host ::ng-deep app-custom-button {
    button {
        padding-left: 1.375rem;
        padding-right: 1.375rem;
        background-color: #27AE60;
    }
}