<app-header></app-header>

<section class="b-section-1">
    <div class="bs1-container">
        <div class="bs1-table-content">
            <h1 class="bs1-title">Preencha sua aposta</h1>
        <span class="bs1-bet-value">Valor da aposta R$ 10.</span>

        <div class="bs1-table-container">
            <app-button class="bs1-table-clear-bet" [text]="'Limpar volante'" [variant]="'tertiary'" (clickButton)="clearHints()"></app-button>
            <div class="bs1-table">
                <table>
                    <thead>
                        <tr>
                            <th>Jogo</th>
                            <th>Coluna 1</th>
                            <th>X</th>
                            <th>Coluna 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of games.matches; let i = index">
                            <td>{{ i + 1 | zeroPad }}</td>
                            <td>
                               <div class="bs1-team-home">
                                    <div class="bs1-hint" [class.selected]="item.hunch === 'CASA'" (click)="selectHint('CASA', item)"></div>
                                    <div class="bs1-team-info">
                                        <img src="{{item.match.team_home_logo}}" alt="Time 1" height="40" width="40">
                                        <span class="bs1-team-name"> {{ item.match.team_home_name }}</span>
                                    </div>
                               </div>
                            </td>
                            <td>
                                <div class="bs1-hint-container">
                                    <div class="bs1-hint" [class.selected]="item.hunch === 'EMPATE'" (click)="selectHint('EMPATE', item)"></div>
                                </div>
                            </td>
                            <td>
                                <div class="bs1-team-away">
                                    <div class="bs1-team-info">
                                        <span class="bs1-team-name">{{ item.match.team_away_name }} </span>
                                        <img src="{{ item.match.team_away_logo }}" alt="Time 2" height="40" width="40">
                                    </div>
                                    <div class="bs1-hint" [class.selected]="item.hunch === 'FORA'" (click)="selectHint('FORA', item)"></div>
                               </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="bs1-add-cart">
                <span class="material-symbols-rounded">shopping_cart</span>
                Adicionar ao carrinho
            </button>
        </div>
        </div>
        <div class="bs1-payment-container">
            <div class="bs1-payment-box">
                <div class="bs1-payment-header">
                    <div class="bs1-header-title">
                        <span class="material-symbols-rounded">shopping_cart</span>
                        <p>Carrinho</p>
                    </div>
                    <button class="bs1-header-clear">Limpar</button>
                </div>
                <div class="bs1-payment-body">
                    <div class="bs1-payment-info">
                        <span class="bs1-info-text">Quantidade</span>
                        <span class="bs1-info-text">{{quantityCart}}</span>
                    </div>
                    <div class="bs1-payment-info">
                        <span class="bs1-info-text">Total</span>
                        <span class="bs1-info-text">{{ 0 | currency: 'BRL' }}</span>
                    </div>
                </div>
                <div class="bs1-payment-footer">
                    <a routerLink="/payment"><button class="bs1-payment-button">Ir para pagamento</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
