<app-header></app-header>
<div class="f-container">
    <section class="f-section-1">
        <div class="f-profile">
            <img src="/assets/images/profile.png" alt="Foto do perfil">
            <div class="f-profile-info">
                <p class="f-profile-name">Adalberto</p>
                <a href="#" class="f-profile-link">Ver meu perfil</a>
            </div>
        </div>
        <div class="f-info">
            <div class="f-info-item">
                <p class="f-item-title">Pontos</p>
                <div class="f-item-box">
                    <img src="/assets/icons/header/medium-winner.svg" alt="Taça média">
                    <p class="f-box-text">0</p>
                </div>
            </div>
            <div class="f-info-item">
                <p class="f-item-title">Saldo</p>
                <div class="f-item-box">
                    <img src="/assets/icons/header/medium-money.svg" alt="Moeda média">
                    <p class="f-box-text">{{ 0 | currency: 'BRL' }}</p>
                </div>
            </div>
            <div class="f-info-item">
                <p class="f-item-title">Cashback</p>
                <div class="f-item-box">
                    <img src="/assets/icons/header/medium-ticket.svg" alt="Ticket médio">
                    <p class="f-box-text">{{ 0 | currency: 'BRL' }}</p>
                </div>
            </div>
        </div>
    </section>
    <section class="f-section-2">
        <div class="fs2-box">
            <p class="fs2-box-title">Jogos da rodada</p>
            <p class="fs2-box-text">Placar com os resultados dos jogos da rodada atualizados online. Acompanhe o nosso super placar de futebol que acontecem pelos campeonatos do Brasil e do mundo.</p>
        </div>
    </section>
    <section class="f-section-3">
       <div class="fs3-container">
            <p class="fs3-title">1° Rodada</p>
            <div class="fs3-games-table">
                <div class="fs3-table-item" *ngFor="let item of items; let i = index">
                    <p class="fs3-item-text">Jogo {{ i + 1 }}</p>
                    <div class="fs3-item-info">
                        <span class="fs3-info-date">Amanhã 19:00</span>
                        <span class="fs3-info-tournament">{{ item.game.tournament }}</span>
                        <div class="fs3-info-teams">
                            <div class="fs3-team">
                                <img class="fs3-team-shield" src="/assets/images/team-1.png" alt="Escudo do time 1">
                                <span class="fs3-team-name" [class.fs3-win]="(item.game.first_team_score >= item.game.second_team_score) && ['in-progress', 'finished'].includes(roundStatus)">{{ item.game.first_team }}</span>
                            </div>
                            <div class="fs3-team-scoreboard">
                                <span class="fs3-team-item" *ngIf="['in-progress', 'finished'].includes(roundStatus)">{{ item.game.first_team_score }}</span>
                                <span class="fs3-team-item">x</span>
                                <span class="fs3-team-item" *ngIf="['in-progress', 'finished'].includes(roundStatus)">{{ item.game.second_team_score }}</span>
                            </div>
                            <div class="fs3-team">
                                <span class="fs3-team-name" [class.fs3-win]="(item.game.first_team_score <= item.game.second_team_score) && ['in-progress', 'finished'].includes(roundStatus)">{{ item.game.second_team }}</span>
                                <img class="fs3-team-shield" src="/assets/images/team-2.png" alt="Escudo do time 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </section>
    <section class="f-section-4">
        <div class="fs4-container">
           <ng-container *ngIf="['new-round'].includes(roundStatus)">
                <h2 class="fs4-title">Melhores Jogadores do Ranking Global</h2>
                <img src="/assets/images/best-team.png" alt="Melhor time">
                <p class="fs4-text">Após finalizar a 1° rodada teremos o resultado do Ranking global</p>
                <a routerLink="/bet"><app-button [text]="'Participar'"></app-button></a>
           </ng-container>
           <ng-container *ngIf="['in-progress'].includes(roundStatus)">
                <h2 class="fs4-title">Ranking da 1° Rodada</h2>
                <span class="fs4-round-status">Em andamento</span>
                <div class="fs4-ranking-container">
                    <span class="fs4-ranking-label">Pontos</span>
                    <div class="fs4-ranking-table">
                        <div class="fs4-ranking-row" *ngFor="let item of items; let i = index" [class.fs4-ranking-row-grey]="i % 2 === 1">
                            <div class="fs4-ranking-col-1">
                                <span class="fs4-ranking-position">{{ i + 1 }}</span>
                                <div class="fs4-ranking-profile">
                                    <div class="fs4-ranking-profile-image">
                                        <img src="/assets/images/ranking-profile.png" alt="Imagem de perfil do apostador">
                                    </div>
                                    <span class="fs4-ranking-profile-name">LucasBRez</span>
                                </div>
                            </div>
                            <div class="fs4-ranking-col-2">
                                <span class="fs4-ranking-show-hint">Ver palpites</span>
                                <span class="fs4-ranking-points">26</span>
                            </div>
                        </div>
                    </div>
                </div>
                <h2 class="fs4-title">Melhores Jogadores do Ranking Global</h2>
                <img class="fs4-ranking-image" src="/assets/images/logo-show-de-bolao-2.svg" alt="Logo show de bolão">
                <div class="fs4-ranking-container">
                    <span class="fs4-ranking-label">Pontos</span>
                    <div class="fs4-ranking-table">
                        <div class="fs4-ranking-row" *ngFor="let item of items; let i = index" [class.fs4-ranking-row-grey]="i % 2 === 1">
                            <div class="fs4-ranking-col-1 fs4-second-ranking">
                                <span class="fs4-ranking-position">{{ i + 1 }}</span>
                                <div class="fs4-ranking-profile">
                                    <img class="fs4-trophy" src="/assets/icons/first.svg" alt="Primeiro lugar" *ngIf="i === 0">
                                    <img class="fs4-trophy" src="/assets/icons/second.svg" alt="Segundo lugar" *ngIf="i === 1">
                                    <img class="fs4-trophy" src="/assets/icons/third.svg" alt="Terceiro lugar" *ngIf="i === 2">
                                    <div class="fs4-ranking-profile-image">
                                        <img src="/assets/images/ranking-profile.png" alt="Imagem de perfil do apostador">
                                    </div>
                                    <span class="fs4-ranking-profile-name">LucasBRez</span>
                                </div>
                            </div>
                            <div class="fs4-ranking-col-2">
                                <span class="fs4-ranking-points">26</span>
                            </div>
                        </div>
                    </div>
                </div>
           </ng-container>
           <ng-container *ngIf="['finished'].includes(roundStatus)">
                <h2 class="fs4-title">Ranking da 1° Rodada</h2>
                <div class="fs4-ranking-container">
                    <span class="fs4-ranking-label">Pontos</span>
                    <div class="fs4-ranking-table">
                        <div class="fs4-ranking-row" *ngFor="let item of items; let i = index" [class.fs4-ranking-row-grey]="i % 2 === 1">
                            <div class="fs4-ranking-col-1 fs4-third-ranking">
                                <span class="fs4-ranking-position">{{ i + 1 }}</span>
                                <div class="fs4-ranking-profile">
                                    <img class="fs4-trophy" src="/assets/icons/trophy.svg" alt="Primeiro lugar" *ngIf="i === 0">
                                    <div class="fs4-ranking-profile-image">
                                        <img src="/assets/images/ranking-profile.png" alt="Imagem de perfil do apostador">
                                    </div>
                                    <span class="fs4-ranking-profile-name">LucasBRez</span>
                                </div>
                            </div>
                            <div class="fs4-ranking-col-2">
                                <span class="fs4-ranking-points">26</span>
                            </div>
                        </div>
                    </div>
                </div>

                <h2 class="fs4-title">Melhores Jogadores do Ranking Global</h2>
                <h2 class="fs4-subtitle">Valor acumulado: R$ 2.000,00</h2>
                <div class="fs4-ranking-container">
                    <span class="fs4-ranking-label">Pontos</span>
                    <div class="fs4-ranking-table">
                        <div class="fs4-ranking-row" *ngFor="let item of items; let i = index" [class.fs4-ranking-row-grey]="i % 2 === 1">
                            <div class="fs4-ranking-col-1 fs4-second-ranking">
                                <span class="fs4-ranking-position">{{ i + 1 }}</span>
                                <div class="fs4-ranking-profile">
                                    <img class="fs4-trophy" src="/assets/icons/first.svg" alt="Primeiro lugar" *ngIf="i === 0">
                                    <img class="fs4-trophy" src="/assets/icons/second.svg" alt="Segundo lugar" *ngIf="i === 1">
                                    <img class="fs4-trophy" src="/assets/icons/third.svg" alt="Terceiro lugar" *ngIf="i === 2">
                                    <div class="fs4-ranking-profile-image">
                                        <img src="/assets/images/ranking-profile.png" alt="Imagem de perfil do apostador">
                                    </div>
                                    <span class="fs4-ranking-profile-name">LucasBRez</span>
                                </div>
                            </div>
                            <div class="fs4-ranking-col-2">
                                <span class="fs4-ranking-points">26</span>
                            </div>
                        </div>
                    </div>
                </div>
           </ng-container>
        </div>
    </section>
</div>
<app-footer></app-footer>