h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
  align-self: flex-start;
  margin-bottom: 3.125rem;
}
.box-profile {
  display: flex;
  background-color: white;
  border-radius: 4px;
}
.r-container {
  display: flex;
  max-height: 100vh;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;

  .r-form-container {
    display: flex;
    justify-content: center;
  }

  .r-form {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;

    .columns{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .item {
        margin: 2.5rem;
      }
    }

    .r-form-fields {
      gap: 10px;
      display: flex;
      flex-direction: column;
    }

    .input-container {
      label {
        font-size: 1rem;
        font-weight: 100;
        color: white;
        line-height: 24px;
      }
    }


    .ic-icon {
      position: absolute;
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #D8DCDF;
    }


    input {
      width: 20rem;
      height: 2.75rem;
      outline: none;
      font-size: 1rem;
      padding-left: 54px;
      padding-right: 8px;
      border-radius: 2px;
      border: 1px solid #D8DCDF;
    }
  }

  .r-form-footer {
    line-height: 20px;
    font-size: 0.75rem;
    font-weight: 500;
    color: white;

    a {
      color: #3498DB;
    }
  }

}

:host ::ng-deep app-button button {
  margin-top: 14px;
  width: 100%;

}
