<header>
    <div class="h-content">
        <a href=""><img class="h-logo" src="/assets/images/logo-show-de-bolao.svg" alt="Logo show de bolão"></a>
        <div class="h-links">
            <a href="">Bolão</a>
            <a href="">Ranking</a>
            <a href="">Placar</a>
            <a href="">Sobre</a>
        </div>
    </div>
    <div class="h-actions">
        <app-button [variant]="'tertiary'" [text]="'Cadastrar'"></app-button>
        <app-custom-button></app-custom-button>
    </div>
</header>
<section class="h-section-1">
    <h2>Participe e palpite!!!</h2>
    <div class="hs1-box">
        <p>Junte-se ao bolão e seja campeão!</p>
    </div>
    <button class="primary">Participar</button>
</section>
<section class="h-section-2">
    <div class="hs2-box">
        <img src="/assets/images/logo-brasileirao.svg" alt="Logo do brasileirão">
        <p>Brasileirão</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-champions.svg" alt="Logo da liga dos campeões">
        <p>Liga dos Campeões</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-libertadores.svg" alt="Logo da libertadores">
        <p>Brasil na Libertadores</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-olimpiadas-feminino.svg" alt="Logo das olimpíadas femininas">
        <p>Olimpíadas Feminino</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-olimpiadas-masculino.svg" alt="Logo das olimpíadas masculinas">
        <p>Olimpíadas Masculino</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-premier-league.svg" alt="Logo da premier league">
        <p>Premier League</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-serie-b.svg" alt="Logo da série B">
        <p>Série B</p>
    </div>
</section>
<section class="h-section-3">
    <h2>Como Funciona?</h2>
    <div class="hs3-steps">
        <img src="/assets/images/step-1.svg" alt="Imagem do primeiro passo">
        <img src="/assets/images/step-2.svg" alt="Imagem do segundo passo">
        <img src="/assets/images/step-3.svg" alt="Imagem do terceiro passo">
    </div>
</section>
<footer>
    <div class="hf1-box">
        <a href="#"><img src="/assets/images/logo-show-de-bolao-2.svg" alt="Logo show de bolão"></a>
        <div class="hf1-info">
            <p>
                O Show de Bolão é um site de entretenimento, com intuito de oferecer
                diversão e prêmios aos seus usuários, por meio de apostas esportivas do
                futebol nacional e internacional. Agora você pode fazer parte desta
                comunidade e mostrar todo o seu conhecimento nesse esporte, de uma
                forma diferente.
            </p>
            <div class="hf1-social">
                <img src="/assets/images/logo-instagram.svg" alt="Logo do instagram">
                <img src="/assets/images/logo-facebook.svg" alt="Logo do facebook">
            </div>
        </div>
        <div class="hf1-links">
            <h3>Navegação</h3>
            <a href="#">Fale conosco</a>
            <a href="#">Regulamento</a>
            <a href="#">Termos de uso</a>
            <a href="#">Politica de Privacidade</a>
        </div>
    </div>
    <div class="hf2-box">
        <p>© 2024 Show de Bolão. Todos os diretos reservados.</p>
    </div>
</footer>