<header>
    <div class="h-content">
        <a href=""><img class="h-logo" src="/assets/images/logo-show-de-bolao.svg" alt="Logo show de bolão"
                        height="74" width="66" priority></a>
        <div class="h-links">
            <a href="">Bolão</a>
            <a href="">Ranking</a>
            <a href="">Placar</a>
            <a href="">Sobre</a>
        </div>
    </div>
    <div class="h-actions">
        <a routerLink="login"><app-custom-button [text]="'Entrar'"></app-custom-button></a>
    </div>
</header>
<section class="h-section-1">
    <h2>Participe e palpite!!!</h2>
    <div class="hs1-box">
        <p>Junte-se ao bolão e seja campeão!</p>
    </div>
    <a routerLink="/football"><button class="primary">Participar</button></a>
</section>
<section class="h-section-2">
    <div class="hs2-box">
        <img src="/assets/images/logo-brasileirao.svg" alt="Logo do brasileirão" height="120" width="121">
        <p>Brasileirão</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-champions.svg" alt="Logo da liga dos campeões" height="120" width="121">
        <p>Liga dos Campeões</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-libertadores.svg" alt="Logo da libertadores" height="120" width="121">
        <p>Brasil na Libertadores</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-olimpiadas-feminino.svg" alt="Logo das olimpíadas femininas" height="120"
             width="120">
        <p>Olimpíadas Feminino</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-olimpiadas-masculino.svg" alt="Logo das olimpíadas masculinas" height="120"
             width="121">
        <p>Olimpíadas Masculino</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-premier-league.svg" alt="Logo da premier league" height="120" width="121">
        <p>Premier League</p>
    </div>
    <div class="hs2-box">
        <img src="/assets/images/logo-serie-b.svg" alt="Logo da série B" height="120" width="121">
        <p>Série B</p>
    </div>
</section>
<section class="h-section-3">
    <h2>Como Funciona?</h2>
    <div class="hs3-steps">
        <img src="/assets/images/step-1.svg" alt="Imagem do primeiro passo" height="100" width="260">
        <img src="/assets/images/step-2.svg" alt="Imagem do segundo passo" height="100" width="260">
        <img src="/assets/images/step-3.svg" alt="Imagem do terceiro passo" height="100" width="260">
    </div>
</section>
<app-footer></app-footer>
